{% block body %}
    <div class="col-lg-12">
        <div class="media" id="NAFAN_header">
            <span class="media-left">
                <img src="https://raw.githubusercontent.com/nafanproject/prototype/master/media/nafanlogo1.jpg" alt="Logo">
            </span>
            <div class="media-body">
                <h2 class="page-header">NAFAN Demonstration Prototype</h2>
                <h5><span class="subheader">Contributor Dashboard</span></h5>
            </div>
        </div>
    </div>
    <div class="row justify-content-center grid-buffer">
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Log Date</th>
                    <th>Message</th>
                </tr>
                {% for item in log_contents %}
                    <tr> 
                        <td>{{ item.log_time }}</td>
                        <td>{{ item.log_message }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}